.contents
  = render 'shared/side_menu'
  .content-main
    .main-header
      .main-header__left-box
        %p.main-header__left-box--group-name
          =@group.name
        %p.main-header__left-box--group-members
          Member :
          - @group.users.each do |user|
            =user.name
      -if params[:group_id]
        .main-header__right-box
          = link_to edit_group_path(params[:group_id]) do
            .main-header__right-box--group-edit
              Edit
    .main-body
      .messages#messages
        = render partial: 'messages', locals: {messages: @messages }
    .main-form
      = form_for [@group, @message], html:{class:"form-body"} do |f|
        .new-message
          .new-message__input-box
            = f.text_field :body, class: "new-message__input-box--text", placeholder: 'type a message'
            .new-message__input-box__image-box
              = f.label :image do
                = fa_icon 'fa-image', class: 'fa fa-image fa-lg new-message__input-box__image-box--image'
                = f.file_field :image, class: 'new-message__input-box__image-box--filesend'
          .new-message__input-box--send
            = f.submit 'Send', class:'form-submit'

